@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
  --container-bg: #292828;
  --container-border: #494949;
  --element-bg: #383838;
  --element-border: #444343;
  --board-display-bg: #1c1c1c;
  --board-display-border: #3f3f3f;
  --danger-bg: #672929;
  --danger-border: #893e3e;
}

/*Defaults*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 1.8rem;
  font-weight: 600;
}

h2{
  font-size: 1.4rem;
}

input, button{
  background-color: var(--element-bg);
  
  border: 1px solid var(--element-border);
  border-radius: 6px;

  padding: 4px 5px;

  transition: 300ms;
}

input:focus{
  outline: none;
}

button:hover{
  background-color: #201f1f;
  border-color: #606060;
}

/*Containers*/

#container{
  background-color: var(--container-bg);
  
  border: 1px solid var(--container-border);
  border-radius: 6px;
}

#kan-ban-container{
  display: flex;
  gap: 10px;
  padding: 5px;
}

#boards-container{
  background-color: var(--board-display-bg);

  border: 1px solid var(--board-display-border);
  border-radius: 6px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  padding: 20px 30px;
  gap: 30px;
  width: 70%;
  margin: 1rem auto;
}

/*Elements*/

#board-element{
  margin-top: 20px;
  border: 1px solid var(--element-border);
  border-radius: 6px;
  width: 33%;
  min-height: 100px;
  height: fit-content;
}

#task{
  border: 1px solid var(--element-border);
  border-radius: 6px;
  background-color: var(--element-bg);
  text-align: left;
  padding: 4px 8px;
}

#board{
  border: 1px solid var(--element-border);
  border-radius: 6px;
  background-color: var(--element-bg);

  transition: 300ms;
}

#board:hover{
  transform: scale(1.05);
}

/*Details*/

.submit-btn, .board-input{
  width: 200px;
  height: 35px;
}

.back-home-btn{
  padding: 7px 7px; 
}

.sign-out-btn {
  background-color: var(--danger-bg);
  border: 1px solid var(--danger-border);
}

.sign-out-btn:hover {
  background-color: #522222;
  border-color: #ad4d4d;
}

.board-header{
  display: grid;
  grid-template-columns: 53% 47%;
}

.home-header {
  display: grid;
  grid-template-columns: 98% 0%;
}
